<ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="usuarioCtrl">

    <ons-toolbar class="fondo-celeste">
        <div class="left">
            <ons-toolbar-button ng-click="app.navigator.popPage()">
                <ons-icon icon="ion-arrow-left-c" class="fuente-blanca fuente28" fixed-width="false">
                </ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center fuente-blanca fuente-bold">Autorizaci&oacute;n MercadoPago</div>
    </ons-toolbar>



    <div class="login-form content-padded">
        <form name="frmCred" novalidate>
            <div id="divAvisoIni" ng-show="{{!existeAutorizacionMP()}}" style="background-color: #4cd964;border-radius: 4px;
                 -webkit-border-radius: 4px;color: white;margin-bottom: 15px;
                 padding: 10px; text-align: center">
                Toca en el bot&oacute;n, luego ingresa con tu usuario de MercadoPago y aguarda un momento por la autorizaci&oacute;n.
            </div>
            <ons-row align="top" style="margin-bottom: 10px;" ng-show="{{!existeAutorizacionMP()}}">
                <ons-col>
                    <ons-button modifier="large" class="login-button" 
                                style="background-color: orange;"
                                ng-click="abrirAutorizacionMP();"
                                >
                        <ons-icon icon="ion-checkmark-round"></ons-icon>
                        Autorizar aplicaci&oacute;n
                    </ons-button>
                </ons-col>
            </ons-row>

            <div ng-show="{{existeAutorizacionMP()}}" style="background-color: rgba(255, 99, 71, 0.8);border-radius: 4px;
                 -webkit-border-radius: 4px;color: white;margin-bottom: 10px;
                 padding: 10px; text-align: center">
                Ya estas autorizado y puedes cobrar con la aplicaci&oacute;n.
            </div>
        </form>
    </div>

</ons-page>