<ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="usuarioCtrl">

    <ons-toolbar class="fondo-celeste">
        <div class="left">
            <ons-toolbar-button ng-click="app.navigator.popPage()">
                <ons-icon icon="ion-arrow-left-c" class="fuente-blanca fuente28" fixed-width="false">
                </ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center fuente-blanca fuente-bold">Ayuda</div>
    </ons-toolbar>
    <div class="content">
        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-item modifier="tappable" ng-click="app.navigator.pushPage('ayudaObtenerAutorizacion.html')">
                ¿C&oacute;mo obtener autorizaci&oacute;n&quest;
            </ons-list-item>
            <ons-list-item modifier="tappable" ng-click="app.navigator.pushPage('ayudaCobrar.html')">
                ¿C&oacute;mo generar un cobro&quest;
            </ons-list-item>
            <ons-list-item modifier="tappable" ng-click="app.navigator.pushPage('ayudaConfirmaCobro.html')">
                ¿C&oacute;mo confirmar un Cobro&quest;
            </ons-list-item>
        </ons-list>

    </div>

</ons-page>