<ons-page on-device-backbutton="app.navigator.popPage()" >

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.navigator.popPage()"><ons-icon icon="ion-arrow-left-c" style="font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Generar cobro</div>
    </ons-toolbar>



    <div class="login-form content-padded" ng-controller="usuarioCtrl">
        <form name="frmCobro" novalidate>
            <ons-row align="top" style="margin-bottom: 10px;">
                <ons-col align="center" width="100px">
                    <label for="title">Prestaci&oacute;n: </label>
                </ons-col>
                <ons-col align="left">
                    <input type="text" class="text-input"
                           name="title"  placeholder="Un titulo para el servicio a cobrar" 
                           ng-model="prestacionMP.title" required style="width: 100%;">
                </ons-col>
            </ons-row>

            <ons-row align="top" style="margin-bottom: 10px;">
                <ons-col align="center" width="100px">
                    <label for="title">Cantidad: </label>
                </ons-col>
                <ons-col align="left">
                    <input type="number" class="text-input"
                           name="cantidad"  placeholder="0" 
                           ng-model="prestacionMP.cant" required style="width: 100px"
                           ng-minlength="1" ng-maxlength="5"
                           min="1" maxlength="5" 
                           ng-pattern="/^[1-9][0-9]{0,2}(?:,?[0-9]{3}){0,3}(?:\.[0-9]{1,2})?$/">
                </ons-col>
            </ons-row>

            <ons-row align="top" style="margin-bottom: 10px;">
                <ons-col align="center" width="100px">
                    <label for="title">Precio $: </label>
                </ons-col>
                <ons-col align="left">
                    <input type="number" class="text-input"
                           name="precio"  placeholder="0" 
                           ng-model="prestacionMP.prec" required style="width: 100px"
                           ng-minlength="1" ng-maxlength="5"
                           min="1" maxlength="5" 
                           ng-pattern="/^[1-9][0-9]{0,2}(?:,?[0-9]{3}){0,3}(?:\.[0-9]{1,2})?$/">
                </ons-col>
            </ons-row>

            <br><br>
            <ons-button modifier="large" class="login-button" 
                        ng-click="initPoint()"
                        ng-disabled="!frmCobro.$valid"
                        >
                <ons-icon icon="ion-gear-a"></ons-icon>
                Generar
            </ons-button>
        </form>
    </div>

</ons-page>