<ons-page on-device-backbutton="app.navigator.popPage()" >

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.navigator.popPage()"><ons-icon icon="ion-arrow-left-c" style="font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Confirmar cobro</div>
    </ons-toolbar>



    <div class="login-form content-padded" ng-controller="usuarioCtrl">
        <form name="frmCobro" novalidate>
            <ons-row align="top" style="margin-bottom: 10px;">
                <ons-col align="center" width="100px">
                    <label for="title">Prestaci&oacute;n: </label>
                </ons-col>
                <ons-col align="left">
                    {{getCobroFactory().title}}
                </ons-col>
            </ons-row>

            <ons-row align="top" style="margin-bottom: 10px;">
                <ons-col align="center" width="100px">
                    <label for="title">Cantidad: </label>
                </ons-col>
                <ons-col align="left">
                    {{getCobroFactory().cant}}
                </ons-col>
            </ons-row>

            <ons-row align="top" style="margin-bottom: 10px;">
                <ons-col align="center" width="100px">
                    <label for="title">Precio $: </label>
                </ons-col>
                <ons-col align="left">
                    {{getCobroFactory().prec}}
                </ons-col>
            </ons-row>

            <br><br>
            <ons-button modifier="large" class="login-button" 
                        style="background-color: orange;"
                        ng-click="abrirInitiPoint(); app.navigator.resetToPage('main.html');"
                        >
                <ons-icon icon="ion-checkmark-round"></ons-icon>
                Ir a cobrar!
            </ons-button>
        </form>
    </div>

</ons-page>