<ons-page on-device-backbutton="app.navigator.popPage()" >

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.navigator.popPage()"><ons-icon icon="ion-arrow-left-c" style="font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Tus Credenciales de MercadoPago</div>
    </ons-toolbar>



    <div class="login-form content-padded" ng-controller="usuarioCtrl">
        <form name="frmCred" novalidate>
            <div style="background-color: rgba(255, 99, 71, 0.8);border-radius: 4px;
                         -webkit-border-radius: 4px;color: white;margin-bottom: 10px;
                         padding: 10px; text-align: center">
                Ingresa con tu usuario de MercadoPago y luego
                copia y pega los datos de <b>Client_id</b> y <b>Client_secret</b>
                m&aacute;s abajo.
            </div>
            <ons-row align="top" style="margin-bottom: 10px;" ng-show="{{!existenCredencialesMP()}}">
                <ons-col>
                    <object type="text/html" 
                            data="https://www.mercadopago.com/mla/herramientas/aplicaciones" 
                            style="width:100%; height:450px;border-radius: 4px;
                         -webkit-border-radius: 4px;margin-bottom: 10px;">
                    </object>
                </ons-col>
            </ons-row>

            <ons-row align="top" style="margin-bottom: 10px;">
                <ons-col align="center" width="100px">
                    <label for="title">Id: </label>
                </ons-col>
                <ons-col align="left">
                    <span style="font-weight: bold" ng-show="{{existenCredencialesMP()}}">{{getUsuarioFactory().clientIdMp}}</span>
                    <input type="text" class="text-input"
                           name="client_id"  placeholder="Pega aqu&iacute; el Client_id de MercadoPago" 
                           ng-show="{{!existenCredencialesMP()}}"
                           ng-model="getUsuarioFactory().clientIdMp" required style="width: 100%;">
                </ons-col>
            </ons-row>

            <ons-row align="top" style="margin-bottom: 10px;">
                <ons-col align="center" width="100px">
                    <label for="title">Secret: </label>
                </ons-col>
                <ons-col align="left">
                    <span style="font-weight: bold" ng-show="{{existenCredencialesMP()}}">{{getUsuarioFactory().clientSecretMp}}</span>
                    <input type="text" class="text-input"
                           name="client_secret"  placeholder="Pega aqu&iacute; el Client_secret de MercadoPago" 
                           ng-show="{{!existenCredencialesMP()}}"
                           ng-model="getUsuarioFactory().clientSecretMp" required style="width: 100%;">
                </ons-col>
            </ons-row>



            <br><br>
            <ons-row align="top" style="margin-bottom: 10px;">
                <ons-col align="center">
                    <ons-button class="login-button" 
                                ng-click="guardarCredencialesMP()"
                                ng-disabled="!frmCred.$valid"
                                style="margin-right: 10px;"
                                >
                        <ons-icon icon="ion-checkmark-round"></ons-icon>
                        Guardar
                    </ons-button>
                </ons-col>
                <ons-col align="center">
                    <ons-button class="login-button" 
                                ng-click="borrarCredencialesMP()"
                                style="background-color: tomato;margin-left: 10px;"
                                >
                         <ons-icon icon="ion-close-round"></ons-icon>
                        Resetear
                    </ons-button>
                </ons-col>
            </ons-row>


        </form>
    </div>

</ons-page>