<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
        <meta http-equiv="Content-Security-Policy"/>
        <link rel="stylesheet" href="css/onsenui.css"/>
        <link rel="stylesheet" href="css/onsen-css-components.css"/>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="css/registro.css">
        <link rel="stylesheet" href="css/busquedaResultado.css">
        <link rel="stylesheet" href="css/publicacionDetalle.css">
        <link rel="stylesheet" href="css/busquedaFiltrar.css">
        <link rel="stylesheet" href="css/reputacion.css">
        <link rel="stylesheet" href="css/noticias.css">

    </head>
    <body ng-controller="usuarioCtrl">

    <ons-navigator var="app.navigator">
        <ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="usuarioCtrl">

            <ons-toolbar>
                <div class="center">
                    <img src="logoCobroYa.png" height="100%">
                </div>            
            </ons-toolbar>

            <div style="text-align: center" class="content-padded">
                <span ng-controller="usuarioCtrl">
                    <ons-button modifier="large" 
                                ng-click="abrirMp();"
                                style="width: 100%; margin-top: 30px;margin-bottom: 10px;background-color: #5cb85c">
                        <ons-icon icon="ion-ribbon-b"></ons-icon>
                        Obtener Credenciales
                    </ons-button>
                    <ons-button modifier="large--cta" 
                                ng-click="app.navigator.pushPage('cobrar.html')"
                                style="width: 100%; margin-top: 10px;margin-bottom: 10px;">
                        <ons-icon icon="ion-card"></ons-icon>
                        Cobrar
                    </ons-button>

                    <img src="bannerMercadoPagoChico.jpg" style="border-radius: 4px;
                         -webkit-border-radius: 4px;margin-bottom: 10px;margin-top: 40px">

                    <ons-row class="row ons-row-inner" style="margin-left: 10px;padding-right: 10px;">
                        <ons-col class="col ons-col-inner">
                            <div style="text-align: center;margin-top: 25px;margin-bottom: 10px; color: #9c9c9c">
                                Desarrollado por <a href="http://www.agura.com.ar" target="blank">Agura Ing.</a>
                            </div>
                        </ons-col>
                    </ons-row>
                </span>
            </div>
        </ons-page>
    </ons-navigator>
    <script type="text/javascript" src="cordova.js"></script> 
    <script type="text/javascript" src="js/angular/angular.js"></script>
    <script type="text/javascript" src="js/angular/ngStorage.min.js"></script>
    <script type="text/javascript" src="js/onsenui.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/angular/angular-weather-directive.min.js"></script>
    <script type="text/javascript" src="js/xml2json.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/factories.js"></script>
    <!--<script type="text/javascript" src="js/underscore-min.js"></script>-->


    <script type="text/javascript" src="js/usuarioService.js"></script>

    <script type="text/javascript" src="js/usuarioCtrl.js"></script>
    

</body>
</html>
