<ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="usuarioCtrl">

    <ons-toolbar class="fondo-celeste">
        <div class="left">
            <ons-toolbar-button ng-click="app.navigator.popPage()">
                <ons-icon icon="ion-arrow-left-c" class="fuente-blanca fuente28" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center fuente-blanca fuente-bold">Terminos y Condiciones</div>
    </ons-toolbar>



    <div style="margin-left: 20px;margin-right: 20px">
        <h3 style="text-align: center">Términos y condiciones de uso <span style="font-size: medium;color: #9c9c9c">(vigente desde 22/04/2016)</span>
        </h3>
        <ul style="list-style-type: none">
            <li>
                CobroYa es una aplicación para dispositivos Android 4.1 y superior, de ahora en más, La aplicación.
            </li>
            <li>
                El Usuario que instale y utilice La aplicación, acepta los términos y condiciones de uso de la misma.<br>
                La aplicación actúa como intermediario entre el Usuario y el servicio MercadoPago de MercadoLibre S.R.L. CUIT: 30-70308853-4, brindando la posibilidad de cobrar mediante tarjetas de crédito y medios offline ofrecidos por MercadoPago.<br>
                La aplicación y sus usuarios estarán sujetos a los términos y condiciones que rigen MercadoPago. 
                Estas condiciones de uso (Condiciones Generales) constituyen un contrato entre cualquier persona (en adelante Usuario o en plural Usuarios) que desee acceder y/o usar el servicio MercadoPago, en cuyo caso el Usuario estará sujeto a los términos y condiciones que rigen MercadoPago.
                En estas Condiciones Generales se describen los derechos y responsabilidades del Usuario y de MercadoPago al utilizar el servicio de procesamiento de pagos, la plataforma y cualquier producto o servicio relacionado que ofrezca MercadoPago (conjuntamente el Servicio).<br>
                El Usuario debe leer, entender y aceptar todas las condiciones establecidas en estas Condiciones Generales y demás políticas y principios incorporados a las mismas por referencia, previo a su registro como Usuario de MercadoPago y/o la utilización del Servicio.<br>
                Cualquier persona que no acepte estos términos y condiciones generales, los cuales tiene un carácter obligatorio y vinculante, deberá abstenerse de utilizar el sitio y/o los servicios y la aplicación CobroYA.
            </li>
        </ul>
        <ol>
            <li style="margin-bottom: 10px">
                <b>Registro de Usuario</b><br/>
                La aplicación CobroYa y sus servidores no registran usuarios, éste proceso lo realizan los usuarios directamente con MercadoPago, aceptando los términos y condiciones de registro de dicho servicio. Toda la información y los Datos Personales ingresados por el Usuario tienen carácter de declaración jurada.
            </li>
            <li style="margin-bottom: 10px">
                <b>Gestión de pagos. Mandato</b><br/>
                El Usuario estará sujeto a la gestión de pagos que rigen MercadoPago, exclusivamente. Quedando CobroYa exento de dicha gestión.
            </li>
            <li style="margin-bottom: 10px">
                <b>Entrega, aplicación y retiro de los fondos</b><br/>
                El Usuario estará sujeto a la entrega, aplicación y retiro de los fondos, según políticas y condiciones de MercadoPago. Quedando CobroYa exento de la entrega, aplicación y retiro de fondos.
            </li>
            <li style="margin-bottom: 10px">
                <b>Condiciones generales de contratación</b>
                <ul>
                    <li>
                        <p>
                            <b> Cobro por comisión en la utilización de CobroYa:</b>&nbsp;
                            La aplicación cobra un porcentaje extra por el cobrado por MercadoPago, sobre el monto total de la transacción realizada por el Usuario. Por ventas cobradas a través de las herramientas de cobro y débito automático:&nbsp;Se cobrará una comisión del 3,30% de cada pago acreditado (no incluye IVA).
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Capacidad:</b>&nbsp;
                            Sólo podrán celebrar Solicitudes de Gestión de Pago aquellas personas que tengan capacidad legal para contratar y estén debidamente registrados como usuarios en MercadoPago. No podrán registrarse ni utilizar los servicios menores de edad, personas que no tengan capacidad para contratar o aquellos Usuarios que hayan sido suspendidos o inhabilitados del sistema de MercadoPago, temporal o definitivamente.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Declaraciones del Usuario. Usos Prohibidos: </b>&nbsp;
                            El Usuario manifiesta que el objeto por el cual se celebra la Solicitud de Gestión de Pago no infringe ninguna ley aplicable, ni es por un servicio, venta o transmisión que está prohibida por la ley o los Términos y Condiciones Generales de CobroYa y MercadoPago, tales como y sin limitarse a: (i) juegos de azar, apuestas, etc.; (ii) tráfico de armas, de personas, de animales, etc.; (iii) lavado de dinero y/o terrorismo; (iv) pornografía, prostitución o pedofilia; y/o (vi) cualquier tipo de actividad que pueda ser considerada fraudulenta o ilegal o sospechosa de serlo.
                        </p>
                        <p>
                            El Usuario no utilizará los servicios de CobroYa y MercadoPago para transmitir material que constituya un delito o bien que pueda dar lugar, directa o indirectamente a responsabilidades civiles o que infrinjan los Términos y Condiciones Generales de MercadoPago.
                        </p>
                        <p>
                            Asimismo, queda absolutamente prohibida la utilización de CobroYa y MercadoPago para efectuar cualquier operación que pueda considerarse o verse como adelanto de efectivo o préstamo.
                        </p>
                        <p>
                            La aplicación CobroYA NO se responsabiliza por los servicios y/o productos que el Usuario cobre.
                        </p>
                        <p>
                            La aplicación NO se responsabiliza por cualquier tipo de uso que el Usuario realice con la misma (CobroYa).
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>CobroYa no es entidad financiera: </b>&nbsp;
                            La aplicación NO transacciona con bancos, ni tarjetas de crédito, ésta función la realiza exclusivamente MercadoPago al igual que toda transacción de dinero del y hacia el Usuario.
                        </p>
                        <p>
                            La aplicación NO administra, gestiona, ni transacciona dinero.
                        </p>
                        <p>
                            El Usuario recibe y retira su dinero sólo por MercadoPago, aceptando los términos y condiciones de uso que MercadoPago le ofrece. Para leer los términos y condiciones de uso de MercadoPago de manera completa hacer click <a href="#" ng-click="abrirTermMP()">aquí.</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Confidencialidad de los datos personales: </b>&nbsp;
                            <strong>La aplicación y los servidores de</strong> <strong>CoboYA</strong> <strong>NO</strong> <strong>guardan</strong> información alguna del Usuario, del monto ni descripción de sus cobros.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Limitación de Responsabilidad por el Servicio y/o la Plataforma:</b>&nbsp; 
                            La aplicación CobroYa no garantiza el acceso y uso continuado o ininterrumpido de su servicio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet en los links o Herramientas de Venta o por cualquier otra circunstancia ajena a CobroYa. Los Usuarios NO podrán imputarle responsabilidad alguna a CobroYa, ni exigir resarcimiento alguno, en virtud de perjuicios resultantes de las mencionadas dificultades, así como por cualquier otra clase de daños, incluyendo daños indirectos, especiales o consecuentes que surjan o experimenten los Usuarios, incluso en el caso que dichas fallas afecten los montos que deban ser pagados o acreditados.
                        </p>
                    </li>
                </ul>
            </li>
        </ol>


    </div>

</ons-page>