@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), local('Montserrat-Regular'),
        url('./allfont/montserrat_6c592150f16c76d1fb13f929bd2c5a44.woff') format('woff'),
        url('./allfont/montserrat_6c592150f16c76d1fb13f929bd2c5a44.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Hairline';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Hairline'), local('Montserrat-Hairline'),
        url('./allfont/montserrat-hairline_2c5c1d56419aab19913d7c7f93fee7f1.woff') format('woff'),
        url('./allfont/montserrat-hairline_2c5c1d56419aab19913d7c7f93fee7f1.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('./allfont/montserrat-light_d508f4bcd80b35f5ab68ae7d0e466277.woff') format('woff'),
        url('./allfont/montserrat-light_d508f4bcd80b35f5ab68ae7d0e466277.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('./allfont/montserrat-bold_8c84f968d8b0ccfc680ec7dda735ea09.woff') format('woff'),
        url('./allfont/montserrat-bold_8c84f968d8b0ccfc680ec7dda735ea09.ttf') format('truetype');
}

body {
    font-family: 'Montserrat';
}


.page--full_bg__background {
    font-family: 'Montserrat';
    background-image: url('bg5-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.page-full_bg > .navigation-bar {
    background-color: transparent; 
}

.monse {
  font-family: 'Montserrat';  
}

.monse-light {
    font-family: 'Montserrat Light';  
}

.fuente28 {
    font-size: 28px;   
}

.fuente14 {
    font-size: 14px;
}

.fuente-blanca {
    color: white;
}

.fuente-negra {
    color: black;
}

.fuente-gris-clara {
    color: #bbb6b6;
}

.fuente-azul-oscuro {
    color: black;
}

.fuente-celeste {
    color: #25a6d9;
}

.fuente-celeste {
    color: #25a6d9;
}

.fuente-bold {
    font-weight: bold;
}

.fondo-celeste {
    background-color: #25a6d9;
}

.fondo-verde {
    background-color: #5cb85c;
}

.fuente-enjoy {
    color: rgba(0,142,198,1);
}

.enjoy-input:hover {
    border: 1px solid #a3a3a3;
    background: rgba(255,255,255,1);
    -webkit-transition: all 100ms 0 cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms 0 cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms 0 cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms 0 cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-input {
    display: inline-block;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: auto;
    height: auto;
    position: static;
    /*content: ;*/
    cursor: default;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0;
    padding: 5px 10px;
    overflow: visible;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal normal normal medium/normal Arial, Helvetica, sans-serif;
    color: rgba(0,142,198,1);
    text-decoration: none;
    text-align: left;
    text-transform: none;
    text-indent: 0;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: normal;
    white-space: normal;
    word-spacing: normal;
    /*word-wrap: ;*/
    background: rgba(252,252,252,1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
    -webkit-transition: all 200ms 0 cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms 0 cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms 0 cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms 0 cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transform: scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
    transform: scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.Estilo8 {color: #FF0000; font-style: italic; 
          font-family: Montserrat; }

.Estilo6 {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: bolder;
    background-color: #FFFFFF;
}

.borde-img-ayuda {
    border-radius: 3px;
    border-style: solid;
    border-color: lightblue;
    border-width: 2px;
}